---
layout: page
title: 实践
header: Pages
group: navigation
---
{% include JB/setup %}
<!-- <div class = "card">
	<h2 class="hat_title">快速入口</h2>
	<ul>
	{% assign pages_list = site.pages %}
	{% include JB/pages_list %}
	</ul>
</div> -->

<div class="card">
  <h4 class="hat_title">arale</h4>
  <ul>
  	<li><a href="http://www.honger05.com/effect/arale/position-index.html" target="_blank">arale-position 定位工具类</a></li>
    <li><a href="http://www.honger05.com/effect/arale/base-index.html" target="_blank">arale-base 基类</a></li>
    <li><a href="http://www.honger05.com/effect/arale/widget-index.html" target="_blank">arale-widget UI基类，
    继承自 base</a></li>
    <li><a href="http://www.honger05.com/effect/arale/overlay-index.html" target="_blank">arale-overlay 浮层基类，继承自 widget</a></li>
    <li><a href="http://www.honger05.com/effect/arale/popup-index.html" target="_blank">arale-popup 弹出层，继承自 overlay</a></li>
    <li><a href="http://www.honger05.com/effect/arale/tip-index.html" target="_blank">arale-tip 提示弹出层，继承自 popup</a></li>
  </ul>
  <p>以上使用 webpack 构建 arale 组件, 可以按 F12 查看代码</p>
</div>

<div class="card">
  <a href="http://www.honger05.com/effect/honger.doc" download>我的简历</a>
</div>